<form class="form-inline well">
  <label for="gists-user-name" class="span2">User Name</label>
  <input type="text" class="input-small span3" id="gists-user-name" value="<%= userName %>">
  <br>
  <label for="gists-page" class="span2">Page</label>
  <input type="number" class="input-small" id="gists-page" value="1" min="1">
  <button type="submit" class="btn pull-right" id="gists-fetch">Fetch</button>
</form>
