<h1>New review</h1>

<form id="new-review" name="review">

  <div class="field">
    <label> targets: (Click target line.)</label>
  </div>

  <div class="field">
    <label for="body"> body:</label>
    <textarea type="text" rows="10" class="span5" name="body" id="body" value="<%= body %>" ></textarea>
  </div>

  <div class="actions">
    <input type="submit" class="btn" value="Create Review" />
  </div>

</form>

<a href="#/index">Back</a>