<div class="extensions-panel">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-gists-explorer" data-toggle="tab">Explore Gists</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab-gists-explorer">
        <a href="https://gist.github.com/" target="blank">Visit to Gist</a>
        <div id="gists-explorer-pager"></div>
        <div id="gists-explorer-gists"></div>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render 'gists_explorer.js' %>
</script>
