<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr class="answer">
        <td class="answer-title"><%= link_to answer.title, [@challenge, answer] %></td>
        <td class="answer-tags"><%= answer.tag_list %></td>
        <td class="answer-master"><%= link_to answer.user.name, answer.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  jQuery(function($) {
    var
      $answers = $(".answer"),
      currentUserName = SeminarProto.getCurrentUserName(),
      buildLink = SeminarProto.buildLink;

    $answers.each(function(index) {
      var
        $answer = $answers.eq(index),
        $title = $answer.find(".answer-title"),
        $master = $answer.find(".answer-master"),
        master = $master.text(),
        editHref,
        editLink;

      if (master === currentUserName) {
        editHref = $title.find("a").attr("href") + "/edit";
        editLink = buildLink("Edit", editHref, "btn btn-warning pull-right");
        $title.append(editLink);
      }
    });
  });
</script>