<h1>Editing answer</h1>

<%= render 'challenges/overview' %>
<div class="row">
  <div class="span5">
    <%= render 'form' %>
  </div>
  <div class="span7">
    <%= render 'extensions-panel' %>
  </div>
</div>
