<h1>Editing answer</h1>

<%= render 'form' %>

<%= link_to 'Show', challenge_answer_path(@challenge) %><br />
<%= link_to 'Back to Challenge Page', @challenge %><br />
<%= link_to 'Back to Challenge Answers Page', challenge_answers_path(@challenge) %>
