<h1>New answer</h1>
<%= render 'challenges/overview' %>
<%= render 'form' %>

<%= link_to 'Back to Challenge Page', @challenge %><br />
<%= link_to 'Back to Challenge Answers Page', challenge_answers_path %>
