<div class="well">
  <input type="text" id="gist-editor-description" name="description" placeholder="Gist description…">
  <div id="gist-editor-files"></div>
  <button id="gist-editor-add-file" class="btn">Add another file…</button>
  <div class="form-actions">
    <button type="submit" id="gist-editor-submit" class="btn">Create Public Gist</button>
  </div>
</div>