<div class="well">
  <h1><%= @challenge.title %></h1>
  <p class="lead">
    <%= @challenge.description %>
  </p>
  <ul>
    <li>Question-master: <%= link_to @challenge.user.name , @challenge.user %></li>
    <li>Number of Answer: <%= @challenge.answers.count %></li>
  </ul>
</div>
