<h1>Listing challenges</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Question-master</th>
    <th>Answers</th>
  </tr>

<% @challenges.each do |challenge| %>
  <tr>
    <td><%= link_to challenge.title, challenge, {:class => "btn btn-block btn-mini"} %></td>
    <td><%= link_to challenge.user.name, challenge.user %></td>
    <td><%= link_to challenge.answers.count, challenge_answers_path(challenge), {:class => "btn btn-block btn-mini"} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Challenge', new_challenge_path %>
